---
import Layout from "../layouts/Layout.astro";
---

<Layout description="" title="404">
  <main>
    <h1>Hmm...</h1>
    <h2>This page doesn't exist...</h2>
    <h3><a href="/">Go back home</a> | <a href="/blog">Go to blog</a></h3>
  </main>
</Layout>

<style lang="scss">
  main {
    margin: auto;
    max-width: 50%;
    border-radius: 1rem;
    margin-top: 7rem;
    text-align: center;

    @media (max-width: 849px) {
      max-width: 90vw;
    }
  }
  footer :global() {
    bottom: 0;
    position: absolute;
    width: calc(100% - 2rem);
  }

  h3 {
    a {
      width: 9rem;
    }
  }
</style>
