---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>This page is coming soon!</h1>
    <h2>In the mean time, why not check out <a href="/blog">my blog</a>?</h2>
  </main>
</Layout>

<style lang="scss">
  main {
    margin: auto;
    max-width: 50%;
    border-radius: 1rem;
    margin-top: 7rem;
    text-align: center;

    @media (max-width: 849px) {
      max-width: 90vw;
    }
  }
  footer :global() {
    bottom: 0;
    position: absolute;
    width: calc(100% - 2rem);
  }
</style>
