---
const tags = ["crafti", "devlog", "legal", "test"];
import Button from "./Button.astro";
---

<script
  type="text/javascript"
  src="https://unpkg.com/validator@latest/validator.min.js"></script>
<div class="newsletter-signup">
  <h2>Newsletter Signup</h2>
  <label id="email-error" class="describer" for="email"
    >Your Email. We won't spam you.
  </label>
  <div id="form">
    <input type="email" id="email" placeholder="john.doe@example.com" />
    <Button
      text=" Configure"
      img="/svg/dark/cog.svg"
      onClick="validateEmail()"
    />
  </div>
  <span>Read our <a href="/privacy-policy">Privacy Policy</a>.</span>
</div>
<dialog id="configure-email" onclose="closeDialog()">
  <h1>Configure your email subscription</h1>
  <p>
    Thanks for subscribing! We use tags to manage which posts you recieve emails
    about. Select the tags with topics that you're interested in below.
  </p>
  <div id="tags">
    {tags.map((tag) => <span>{tag}</span>)}
  </div>
  <span id="signup-error" class="describer"></span>
  <div class="horizontal">
    <div>
      <label class="grey" for="email-confirm">Your email address</label>
      <br />
      <input type="email" id="email-confirm" />
    </div>
    <div>
      <label class="grey" for="email-confirm-two">Confirm your email</label>
      <br />
      <input type="email" id="email-confirm-two" />
    </div>
  </div>
  <br />
  <div class="horizontal">
    <div>
      <input type="checkbox" id="agree" />
      <label for="agree"
        >I have read and agree to the <a href="/privacy-policy"
          >Privacy Policy</a
        >.
      </label>
    </div>
    <div class="expand"></div>
    <Button text="✓ Subscribe!" onClick="subscribe()" outline={true} />
  </div>
</dialog>
<script type="text/javascript">
const tags = [];

function validateEmail() {
  if (validator.isEmail(document.getElementById("email").value)) {
    document.getElementById("configure-email").showModal();
    document.getElementById("email-confirm").value =
      document.getElementById("email").value;
    document.body.style.overflow = "hidden";
  } else {
    let status = document.getElementById("email-error");
    status.innerHTML = "Please enter a valid email address.";
    status.style.color = "var(--text-standout-hover)";
  }
}

function closeDialog() {
  document.body.style.overflow = "auto";
}

function subscribe() {
  let email = document.getElementById("email-confirm").value;
  let status = document.getElementById("signup-error");
  if (email != document.getElementById("email-confirm-two").value) {
    status.innerHTML = "Emails do not match.";
    return;
  }
  if (!document.getElementById("agree").checked) {
    status.innerHTML = "Please agree to the Privacy Policy.";
    return;
  }
  if (tags.length == 0) {
    status.innerHTML = "Please select at least one tag.";
    return;
  }

  var data = {
    email: email,
    tags: tags,
  };

  const req = new XMLHttpRequest();
  req.open("POST", "https://letter.enymc.dev/subscribe");
  req.setRequestHeader("Content-Type", "application/json");
  req.addEventListener("load", (event) => {
    if (req.status >= 200 && req.status < 300) {
      document.getElementById("configure-email").close();
    } else {
      console.warn(req.statusText, req.responseText);
      status.innerHTML = "Error - " + JSON.parse(req.responseText).error;
    }
  });
  req.send(JSON.stringify(data));
}

document.getElementById("tags").addEventListener("click", function (e) {
  let target = e.target;
  if (target.id == "tags") return;
  if (target.classList.contains("selected")) {
    target.classList.remove("selected");
    tags.splice(tags.indexOf(e.target.innerText), 1);
  } else {
    target.classList.add("selected");
    tags.push(e.target.innerText);
  }
});
</script>
<style lang="scss">
  #signup-error {
    color: var(--text-standout-hover);
  }
  .horizontal {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .grey {
    font-size: 0.9rem;
    color: var(--light-grey);
  }
  #tags {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.7rem;
    flex-grow: 2;

    span {
      color: var(--light-grey);
      padding: 0.2rem 0.5rem;
      background-color: var(--background-color);
      border-radius: 5px;
      transition:
        transform 0.2s ease-in-out,
        outline 0.2s ease-in-out;
      width: auto;
      font-size: 1.1rem;
      border: solid 2px var(--secondary-color);
      height: 1.5rem;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

    .selected {
      outline: 2px solid var(--text-standout);
    }
  }
  .describer {
    color: var(--light-grey);
  }

  #configure-email {
    position: fixed;
    width: 50%;
    height: 50%;
    bottom: 20%;
    border: none;
    background-color: var(--element-color);
    border-radius: 10px;
    color: inherit;
    box-shadow: 0 3px 10px -3px #000;
    z-index: 2;
    flex-direction: column;
    display: none;

    @media (max-width: 1399px) {
      width: 70%;
    }
    @media (max-width: 999px) {
      width: 90%;
    }

    @media (max-width: 849px) {
      width: 100%;
      height: auto;
      top: 10%;
    }

    &[open] {
      display: flex;
    }

    &::backdrop {
      opacity: 0.3;
      background-color: #000;
    }

    &[open] {
      animation: fadeindialog 0.2s ease-in-out forwards;
    }
  }

  @keyframes fadeindialog {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .newsletter-signup {
    margin: auto;
    width: min-content;
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--element-color);
    border: solid 2px var(--secondary-color);
    border-radius: 10px;
    width: max-content;

    @media (max-width: 450px) {
      width: auto;
    }

    #form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }

    h2 {
      margin: 0.5rem 0;
    }
  }
</style>
